# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDEs / editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs/
*.log

# Build
dist/
build/
